<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>customshipping</name>
    <displayName><![CDATA[CustomShippingFee]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[This is custom shipping fee according to destination]]></description>
    <author><![CDATA[PrestaShop]]></author>
    <tab><![CDATA[]]></tab>
    <is_configurable>0</is_configurable>
    <need_instance>1</need_instance>
</module>